<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Ultimate Movie Search</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
    <!--===============================================================================================-->
</head>

<body ng-app="OMDbAPISearch">
    <a th:href="@{home}"></a>
    <div class="container" ng-controller="searchMovies">

        <h1>Search a Movie Title Below</h1>
        <p>This application utilizes OMDb API data for all results (<a href="http://www.omdbapi.com" target="_blank">http://www.omdbapi.com</a>)</p>
        <form>
            <div class="search">
                <input id="theSearch" ng-model="searchparam" placeholder="movie name" type="text" ngTrim="true" />
                <button ng-click="fetch()">Search</button>
                <div class="clear"></div>
            </div>
        </form>

        <div class="results">

            <div class="result" movie-srch-results ng-repeat="movie in movieResults"></div>

        </div>
        <div class="noResults"></div>

    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="md-form active-cyan-2 mb-3">
                <input class="form-control" type="text" placeholder="Type a Movie.." aria-label="Search" id="edit_search"  onkeyup="find_my_div();">
            </div>
        </div>
    </div>
    <script th:src="@{/js/search.js}"></script>
</body>
</html>