<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">

    <title>The Ultimate Movie Search</title>

    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.ico}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <script th:src="@{//code.jquery.com/jquery-1.11.3.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/js/search.js}"></script>
</head>
    <body>
        <a th:href="@{home}"></a>
        <div class="container-login100" style="align-content: start">
            <div class="container" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-auto" style="margin-right: 1px;margin-left: 1px;padding: 0;">
                        <button class="btn btn-success" th:id="bookmarks">Bookmarks</button>
                    </div>
                    <div class="col-9" style="margin-right: 1px;margin-left: 1px;padding: 0;">
                        <input aria-label="Search" class="col-md-12 tv-search-tm form-control" id="edit_search" onkeyup="find_my_div();" placeholder="Type a Movie.." type="text">
                    </div>
                    <div class="col-auto" style="margin-right: 1px;margin-left: 1px;padding: 0;">
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <button class="btn btn-danger" type="submit" value="Sign Out">Logout</button>
                        </form>
                    </div>

                </div>
            </div>
            <div th:id="con">
                <div class="card-columns" style="column-count: 3" id="layout"></div>
            </div>
        </div>
    </body>
</html>